* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- HEADER SECTION ------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 300px;
}

nav a {
  margin: 5px;
}

/* ---------- MAIN SECTION ------------- */
main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0px;
  height: 200px;
  background-color: lightblue;
}

main h2 {
  margin: 0 50px 40px 0;
}





/* ---------- FOOTER SECTION ------------- */




/* ---------- MOBILE RESPONSIVE ---------- */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: orange;
  }


/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    background-color: green;
    flex-direction: column;
  }

  header h1 {
    margin: 2px;
  }

  nav{
    justify-content: flex-start;
  }

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  /* .sample-img {
    background-color: #8ac4ff;
  } */
}