* {
  border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-family: 'Raleway', 'Nunito Sans', 'Notable', sans-serif;
}

/* ---------- HEADER SECTION ------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
}

header h1 {
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* flex: 1 1 300px; */
}

nav a {
  width: 115px;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

/* ---------- PHOTO SECTION ------------- */
.photo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0px;
  height: 20vh;
  background-color: black;
}

.circle {
  /* background-color: white; */
  background-color: black;
  width: 75px;
  height: 75px;
  margin-left: 20px;
  border-radius: 50%;
  animation: 
    nudge 3s linear 1 normal;
  border-radius: 100%;
}

/* @keyframes nudge {
  0%, 100% {
    transform: translate(0px, 0);
  }
  50% {
    transform: translate(300px, 0);
    background-color: white;
  }
  80% {
    transform: translate(0px, 0);
    background-color: black;
  }
} */

.subtitle {
  position: fixed;
  right: 50px;
  color: white;
  /* font-family: 'Notable', 'Raleway'; */
}

/* ---------- MAIN SECTION ------------- */
main {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: scroll;
}

.about-me-container,
.work-container {
/* .contact-me-container { */
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.about-me-description p {
  margin: 0px;
  margin: 0 20px 0 20px;
  height: 140px;
  overflow: scroll;
  /* font-weight: 525; */
}

aside {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  min-width: 150px;
  border-right: 1px solid black;
}

.work-aside {
  position: sticky;
  top: 0;
}

aside h1 {
  width: 150px;
  margin-top: 0;
  margin-right: 10px;
  text-align: right;
  font-size: 36px;
}

main article,
footer nav {
  width: 100%;
}

.work-container {
  overflow: scroll;
}

.first-project,
.other-projects {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  margin: 20px;
  height: 300px;
}

.first-project {
  margin-top: 0;
  border: 2px solid black
}

.other-projects {
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 48%;
  height: 100px;
  margin: 0 0 10px 0;
  border: 2px solid black;
  /* color: white; */
}

.first-project p,
.project p {
  position: absolute;
  background-color: black;
  color: white;
  z-index: 1;
}

/* ---------- FOOTER SECTION ------------- */
footer {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  display: flex;
  flex-direction: row;
  /* width: 250px; */
  height: 13vh;
  margin: 0;
  margin-top: 0.5vh;
  /* padding: 3vh; */
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    /* background: orange; */
  }


/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    background-color: green;
    flex-direction: column;
  }

  header h1 {
    display: flex;
    justify-content: center;
    margin: 2px;
  }

  nav {
    justify-content: center;
  }

  footer nav {
    justify-content: flex-end;
  }

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  /* .sample-img {
    background-color: #8ac4ff;
  } */
}