* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: black;
  --white: white;
  --accent-color: orange;
  --background-color: cornflowerblue;
  --header-height: 12vh;
  --photo-height: 21vh;
  --footer-height-mobile: 10vh;
  --background-pattern-zigzag: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='black'/%3E%3Cpath d='M-20 31l10-10l10 10l10-10l10 10l10-10l10 10v-2l-10-10l-10 10l-10-10l-10 10l-10-10l-10 10zM-20-9l10-10l10 10l10-10l10 10l10-10l10 10v-2l-10-10l-10 10l-10-10l-10 10l-10-10l-10 10zM-20 71l10-10l10 10l10-10l10 10l10-10l10 10v-2l-10-10l-10 10l-10-10l-10 10l-10-10l-10 10z ' fill='black'/%3E%3Cpath d='M-20 30.5l20-20l20 20l20-20l20 20l20-20l20 20v-1l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20-9.5l20-20l20 20l20-20l20 20l20-20l20 20v-1l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20zM-20 70.5l20-20l20 20l20-20l20 20l20-20l20 20v-1l-20-20l-20 20l-20-20l-20 20l-20-20l-20 20z ' fill='white'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  --background-pattern-curls: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='M20 9a 20 20 0 0 1 40 0h2a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0h-2a 20 20 0 0 1 40 0z' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='M0 29.5a 20 20 0 0 1 40 0h1a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0a 1 1 0 0 1-2 0z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M20 49a 20 20 0 0 1 40 0h2a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0a 2 2 0 0 1-4 0a 18 18 0 0 0-36 0h-2a 20 20 0 0 1 40 0z' fill='rgba(247, 250, 252,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

body {
  overflow-y: scroll;
}

html {
  font-family: "Raleway", "Nunito Sans", "Notable", sans-serif;
}

/* ---------- HEADER SECTION ------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

header .name {
  margin-left: 30px;
  color: var(--black);
  font-size: 38px;
}

nav {
  display: flex;
  margin-right: 20px;
  border-radius: 3px;
  text-align: center;
}

nav a {
  width: 115px;
  margin: 5px;
  padding: 5px;
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.hamburger-menu {
  display: none;
}

/* ---------- PHOTO / SUB-HEADER SECTION ------------- */

.sub-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--photo-height);
  min-height: 150px;
  background: var(--background-pattern-zigzag);
}

.photo-container {
  margin-left: 20px;
}

.photo-container,
.photo-container img {
  width: 135px;
  height: 130px;
  border-radius: 50%;
}

.photo-container:hover {
  animation: nudge 3s linear 1 normal;
}

@keyframes nudge {
  0%,
  100% {
    transform: translate(0px, 0);
  }
  50% {
    transform: translate(300px, 0);
    background-color: var(--white);
  }
  80% {
    transform: translate(0px, 0);
    background-color: var(--black);
  }
}

.subtitle {
  margin-right: 40px;
  text-align: right;
  color: var(--accent-color);
  font-size: 48px;
}

/* ---------- MAIN SECTION ------------- */
main {
  display: flex;
  flex-direction: column;
}

.about-me-container,
.work-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  overflow: hidden;
}

.about-me-description p {
  margin: 0 20px 0 20px;
  font-weight: 500;
}

/* -------- ASIDE SECTION --------------- */
aside {
  display: flex;
  justify-content: flex-end;
  border-right: 3px solid var(--black);
  flex: 0 0 25%;
}

aside h1 {
  width: 150px;
  margin: 0px 10px 0px 0px;
  text-align: right;
  color: var(--black);
  font-size: 36px;
  letter-spacing: 1.5px;
}

/* -------- PROJECTS CONTAINTER --------- */
.portfolio-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 20px 0px 20px;
  column-gap: 2%;
}

.project {
  display: flex;
  flex: 0 0 49%;
  height: 350px;
  margin: 0 0 10px 0;
  border: 5px solid var(--black);
  background: var(--background-pattern-zigzag);
  position: relative;
  overflow: hidden;
}

.project:nth-child(even) {
  background: var(--background-pattern-curls);
}

.project:hover {
  border: 5px solid var(--accent-color);
}

.project-one {
  flex: 0 0 100%;
  background: var(--background-color);
}

.multiple-images {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  column-gap: 1px;
  margin: 20px 0 0 0;
}

.project img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-one img {
  flex: 0 0 200px;
  height: 250px;
}

/* .project p { */
.project .titles {
  width: 100%;
  padding: 5px;
  background-color: var(--black);
  color: var(--white);
  letter-spacing: 1.5px;
  position: absolute;
  /* z-index: 1; */
  bottom: 0;
}

.project .titles {
}

.project p:first-child {
  font-weight: 800;
}

/* ---------- FOOTER SECTION ------------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--footer-height-mobile);
  margin-top: 3vh;
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* media to small size screens - image placeholders change color */
@media screen and (min-width: 1440px) {
  .photo-container,
  .photo-container img {
    width: 175px;
    height: 170px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 360px;
  }

  /* ----------- HEADER - MOBILE ------------------- */

  header .name {
    margin: 8px 30px 0px 0px;
  }

  header nav {
    display: none;
    flex-direction: column;
    position: absolute;
    order: 1;
    top: 9vh;
    left: 33px;
    background: var(--white);
    border: 2px solid var(--black);
  }

  .hamburger-menu {
    display: block;
    margin-left: 30px;
    font-size: 38px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 40;
  }

  /* ---------- SUBHEADER SUBTITLE - MOBILE------------ */

  .subtitle {
    font-size: 40px;
  }

  /* ---------- MAIN SECTION - MOBILE ------------- */

  .about-me-container,
  .work-container {
    flex-direction: column;
  }

  /* -------- ASIDE SECTION - MOBILE --------------- */
  aside {
    justify-content: center;
    border: none;
  }

  aside h1 {
    width: fit-content;
  }

  /* ------- FOOTER - MOBILE ------------------- */
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
  }

  footer h1 {
    color: var(--accent-color);
    font-size: 26px;
  }

  footer nav {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
}

/* small size screens */
@media screen and (max-width: 650px) {
  .project {
    flex: 0 0 98%;
    object-fit: contain;
  }

  .multiple-images {
    column-gap: 2px;
  }
}
