* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* ---------- HEADER SECTION ------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* flex: 1 1 300px; */
}

nav a {
  margin: 5px;
}

/* ---------- PHOTO SECTION ------------- */
.photo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0px;
  height: 20vh;
  background-color: black;
}

.circle {
  background-color: white;
  width: 75px;
  height: 75px;
  margin-left: 20px;
  border-radius: 50%;
  animation: 
  /* nudge 5s linear infinite alternate; */
  nudge 3s linear 3 alternate;
  border-radius: 100%;
}

/* @keyframes nudge {
  0%, 100% {
    transform: translate(0px, 0);
  }
  50% {
    transform: translate(150px, 0);
  }
  80% {
    transform: translate(0px, 0);
  }
} */

.subtitle {
  position: fixed;
  right: 50px;
  color: white;
}

/* ---------- MAIN SECTION ------------- */
main {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.about-me-container,
.work-container,
.contact-me-container {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  /* min-width: 200px; */
}

.about-me-description {
  height: 5vw;
  overflow: scroll;
}

aside {
  width: 20vw;
  text-align: right;
  border-right: 1px solid blue;
}

main article,
footer nav {
  width: 100%;
}

.portfolio-container {
  height: 50vh;
  overflow: scroll;
}

/* ---------- FOOTER SECTION ------------- */
footer {
  height: 10vh;
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    /* background: orange; */
  }


/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    background-color: green;
    flex-direction: column;
  }

  header h1 {
    display: flex;
    justify-content: center;
    margin: 2px;
  }

  nav{
    justify-content: center;
  }

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  /* .sample-img {
    background-color: #8ac4ff;
  } */
}